[submodule "pack/js-syntax/opt/vim-javascript"]
	path = pack/js-syntax/opt/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "pack/js-syntax/opt/vim-jsx-pretty"]
	path = pack/js-syntax/opt/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "pack/themes/opt/oceanic-next"]
	path = pack/themes/opt/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "pack/vim-airline/start/vim-airline"]
	path = pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vim-tmux-navigator/start/vim-tmux-navigator"]
	path = pack/vim-tmux-navigator/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
