[submodule "pack/themes/opt/oceanic-next"]
	path = pack/themes/opt/oceanic-next
	url = https://github.com/mhartington/oceanic-next.git
[submodule "pack/vim-airline/start/vim-airline"]
	path = pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vim-tmux-navigator/start/vim-tmux-navigator"]
	path = pack/vim-tmux-navigator/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "pack/fastfold/start/FastFold"]
	path = pack/fastfold/start/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "pack/coc/start/coc.nvim"]
	path = pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "pack/vim-doge/start/vim-doge"]
	path = pack/vim-doge/start/vim-doge
	url = https://github.com/kkoomen/vim-doge
